In [2]:
import graphlab

In [3]:
sf = graphlab.SFrame('people-example.csv')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1485319358.log

This non-commercial license of GraphLab Create for academic use is assigned to rtharrison86@gmail.com and will expire on January 24, 2018.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [4]:
sf

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">First Name</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Last Name</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Country</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">age</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Bob</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Smith</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">United States</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">24</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alice</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Williams</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Canada</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Malcolm</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Jone</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">England</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Felix</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Brown</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">USA</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alex</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Cooper</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Poland</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Tod</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Campbell</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">United States</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Derek</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Ward</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Switzerland</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">25</td>
    </tr>
</table>
[7 rows x 4 columns]<br/>
</div>

In [5]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:49909/index.html
Opening Canvas in default web browser.

In [15]:
sf['age'].show(view='Categorical')

Canvas is accessible via web browser at the URL: http://localhost:49909/index.html
Opening Canvas in default web browser.

#Inspect some columns of the dataset

In [17]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [20]:
sf['age'].mean()

23.142857142857146

In [21]:
sf['age'].max()

25

#Create new columns in our SFrame

In [22]:
sf

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">First Name</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Last Name</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Country</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">age</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Bob</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Smith</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">United States</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">24</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alice</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Williams</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Canada</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Malcolm</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Jone</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">England</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Felix</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Brown</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">USA</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alex</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Cooper</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Poland</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Tod</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Campbell</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">United States</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Derek</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Ward</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Switzerland</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">25</td>
    </tr>
</table>
[7 rows x 4 columns]<br/>
</div>

In [23]:
sf['full_name'] = sf['First Name'] + ' ' + sf['Last Name']

In [24]:
sf

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">First Name</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Last Name</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Country</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">age</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">full_name</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Bob</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Smith</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">United States</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">24</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Bob Smith</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alice</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Williams</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Canada</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alice Williams</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Malcolm</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Jone</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">England</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Malcolm Jone</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Felix</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Brown</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">USA</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Felix Brown</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alex</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Cooper</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Poland</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alex Cooper</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Tod</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Campbell</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">United States</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Tod Campbell</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Derek</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Ward</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Switzerland</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">25</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Derek Ward</td>
    </tr>
</table>
[7 rows x 5 columns]<br/>
</div>

In [25]:
sf['age'] +2

dtype: int
Rows: 7
[26, 25, 24, 25, 25, 24, 27]

In [26]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576, 529, 484, 529, 529, 484, 625]

# Use apply function to do an advanced transormation of our data

In [27]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [28]:
sf['Country'].show()

Canvas is accessible via web browser at the URL: http://localhost:49909/index.html
Opening Canvas in default web browser.

In [29]:
def transform_country(country): 
    if country == 'USA':
        return 'United States'
    else:
        return country

In [30]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [31]:
sf['Country'] = sf['Country'].apply(transform_country)

In [32]:
sf

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">First Name</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Last Name</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">Country</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">age</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">full_name</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Bob</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Smith</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">United States</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">24</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Bob Smith</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alice</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Williams</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Canada</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alice Williams</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Malcolm</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Jone</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">England</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Malcolm Jone</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Felix</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Brown</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">United States</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Felix Brown</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alex</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Cooper</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Poland</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">23</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Alex Cooper</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Tod</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Campbell</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">United States</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Tod Campbell</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Derek</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Ward</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Switzerland</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">25</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Derek Ward</td>
    </tr>
</table>
[7 rows x 5 columns]<br/>
</div>