In [1]:
import graphlab

In [2]:
graphlab.set_runtime_config('GRAPHLAB_DEFAULT_NUM_PYLAMBDA_WORKERS', 4)

This non-commercial license of GraphLab Create for academic use is assigned to rtharrison86@gmail.com and will expire on January 24, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1487626233.log

In [3]:
people = graphlab.SFrame('Week 4/people_wiki.gl')

In [57]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [117]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

# Earlier versions of GraphLab Create returned an SFrame rather than a single SArray
# This notebook was created using Graphlab Create version 1.7.1
if graphlab.version <= '1.6.1':
    tfidf = tfidf['docs']

people['tfidf'] = tfidf

In [134]:
eltonJohn = people[people['name'] == 'Elton John']
eltonJohn['tfidf']

dtype: dict
Rows: ?
[{'all': 1.6431112434912472, 'least': 4.251903729252247, 'producer': 2.6157162162644934, 'heavily': 4.584578192498009, 'inducted': 3.6213152632041816, 'john': 13.93931279239831, 'over': 2.975646311911467, 'named': 2.0300155412252816, 'making': 2.7223896254962385, 'years': 1.0752380994247055, 'four': 1.922106072733316, 'openly': 5.056906245835299, 'including': 1.2272824458461182, 'highestprofile': 8.789270811888976, 'its': 3.3751896805390627, 'impact': 4.04144432549936, '1': 4.195753163848633, '27': 3.110616229728885, '21': 5.594501726978586, 'wed': 6.908957945319475, 'datein': 8.153282045168979, 'royal': 2.8056144472288045, '1947': 3.756656611073944, 'abbey': 5.693190564500702, 'winning': 2.416330313042851, 'late': 2.374355720500003, 'to': 0.1877797507271969, 'taupin': 9.600201028105303, 'born': 0.268196273764765, '2014': 2.2073995783446634, 'as': 0.2543390440248236, 'has': 3.8564778576963508, '2013': 1.9545642372230505, 'his': 1.0504458208546292, 'march': 1.9573172463231197, '10': 2.3157231098806563, 'songwriter': 7.349218450296059, 'solo': 2.838628259301248, 'continues': 3.3444509863519367, 'records': 2.678542843954175, 'five': 2.2137301792754096, 'occasional': 4.771887290803003, 'they': 1.8993401178193898, 'inception': 5.391784009623355, 'world': 1.370623244696304, 'one': 2.79279220142615, 'hall': 5.270713564278079, 'bestselling': 9.189156551665185, 'fivedecade': 10.293348208665249, 'knighthood': 6.9975113426609195, '58': 5.437419304329975, 'artist': 2.4318137533979653, 'roll': 9.162533862388706, 'inductee': 6.2951475069960505, 'list': 3.1286278298933916, 'events': 3.0624230643017776, 'hercules': 7.322933743095548, 'announced': 2.7377046555287814, 'rock': 5.886949007853824, 'alltime': 4.393450855082757, 'brit': 6.391375539090604, 'bernie': 6.016682089649193, 'england': 2.646755623206051, 'concert': 3.5032509731513444, 'be': 1.4062480045415613, 'diana': 5.3955084087143375, 'globe': 4.144879912747602, 'artists': 5.450454477295092, 'him': 4.726752980361581, 'culture': 3.1328905761273576, 'year': 1.3423616371539895, 'billboard': 17.30368095754203, 'aids': 10.262846934045534, 'empire': 4.3624301614253005, 'honors': 3.7995943688135627, 'composers': 4.295653111806631, 'established': 3.0759047769687164, 'elton': 17.482320270031995, 'for': 0.36431264671643454, 'record': 2.1528869065343033, 'since': 7.276883586540205, 'legal': 3.4243337579995425, 'collaborated': 3.761741983457223, 'outside': 3.6528189935675104, 'consecutive': 7.543981950148101, 'worked': 1.553891853362109, 'sold': 6.702383005931559, 'disney': 4.706099550264999, 'era': 3.7913080690464858, 'foundation': 5.428871534029564, 'after': 0.9443334420013064, '25': 2.7469019349192254, '300': 4.553555296486015, 'funeral': 5.911321573991367, 'million': 9.053489066276878, 'lgbt': 5.5883326877074415, 'ranked': 7.642003828328697, 'awards': 6.8519553961056126, 'no': 7.1892706571891525, 'become': 2.4964678658817263, '100': 8.922437249692202, 'overallelton': 10.986495389225194, 'legend': 4.464402591055042, 'on': 1.1064765201036022, 'hits': 3.7189699613970224, 'english': 2.239461125047026, 'influential': 3.738702807457348, 'of': 0.05403029058844982, 'industry': 2.9570625486439512, 'annual': 3.434258101664393, 'against': 2.0079609791418744, 'david': 2.4512658353228582, 'musicians': 3.5587565486923007, 'social': 2.6226865047083137, 'samesex': 5.89889905399281, 'contribution': 3.9980822072256026, 'lasting': 5.905091024240731, 'dwight': 6.44320060695519, 'first': 0.6956048713993103, 'golden': 3.618155702913813, 'raised': 3.059531844362216, 'grammy': 4.085764725180022, 'civil': 3.3244978303233013, 'had': 1.177428412308558, 'into': 4.815188827219817, 'lyricist': 5.644161137260383, 'number': 4.24604216610848, 'two': 1.0988831858473562, 'services': 6.037737299782756, 'kennedy': 4.279633052622447, '1988': 2.4491074905234376, 'composer': 3.2290166226410153, 'parties': 4.495771854722687, 'tony': 3.6043710234876816, '19702000': 10.293348208665249, 'career': 1.3050270203415668, 'jubilee': 5.648957309523876, 'from': 0.29375533798563447, 'kenneth': 4.798231266142604, 'fifty': 5.11719847609142, 'nine': 3.2624907325491286, 'top': 9.096257662993823, 'cbe': 5.249923091746003, 'look': 4.303134443458919, 'copies': 4.500334600281105, 'been': 2.932432006438807, 'fight': 4.274754994169014, '2': 2.2482408126990716, 'music': 5.378377975206105, 'way': 2.9688582293167167, 'bisexual': 6.7238155121838785, 'hollywood': 3.902268967127278, 'icon': 5.433535804303577, 'was': 0.15873157122436693, 'songwriters': 11.250406447031539, 'more': 5.021336851896435, 'brits': 8.421546031763658, 'british': 6.714095277849417, 'diamond': 5.028070696195412, 'fellow': 2.364041687151464, 'champion': 3.176548302748404, 'gay': 8.685411312155043, 'received': 3.0793219631333275, 'successful': 2.679282762596886, 'oscar': 4.781937626656504, 'stone': 4.332342869041976, 'award': 8.161139242211844, 'buckingham': 6.6170475367581725, 'authors': 4.320811671442786, 'albums': 6.041205308281332, 'an': 0.8947172672456913, 'with': 0.40493728504412135, 'than': 6.195113430831934, 'he': 1.493579903611068, 'ii': 3.3077063910260405, '1992': 2.278351314316948, '1994': 2.2375557576874794, '1997': 4.259668904415891, '1996': 2.135691193468776, '1998': 2.0687826320938068, 'hosting': 4.806478735572622, 'us': 1.9319904488071395, '33': 4.654993539331503, 'marriage': 8.230808189229297, 'time': 1.3253342074200498, 'involved': 2.674114792438443, 'about': 1.9265128988375737, 'male': 4.378494763929107, '31': 3.294838566414648, 'performed': 2.5307521601251795, 'and': 0.011177158470730924, 'seven': 2.7917137507818355, '30': 2.6266580085851636, 'palace': 9.813124388259208, 'outstanding': 3.383594927020439, 'december': 4.00285165915879, 'is': 0.11046500190207996, 'partnership': 4.1599501656686, 'pianist': 4.07474808897352, 'commander': 4.099963746694684, '1980s': 2.9688582293167167, 'single': 5.774489654856468, 'at': 0.8612771466165147, 'have': 1.4416847832984716, 'in': 0.017377314302186087, 'partner': 3.4248536436364145, 'fame': 6.0143129879257335, 'film': 2.033113917057952, 'tonightcandle': 10.986495389225194, 'sir': 3.956522477518808, '49': 5.309741586956912, 'began': 1.727460095710253, 'six': 2.4538226269605703, '40': 6.981906890681876, 'westminster': 5.272762583715825, 'hot': 8.195845859319663, 'became': 1.3300599330549516, 'which': 0.7674309670437692, 'academy': 7.06577844530489, 'party': 4.708022306948445, 'you': 2.914652239616036, 'movements': 5.030658019760364, 'something': 4.272324859315723, 'worldwide': 7.008752931346158, '200': 3.8524016680323285, 'princess': 5.038460400044548, 'elizabeth': 4.044338683525725, 'singles': 3.7372803321108052, 'who': 0.9098952189804214, 'actor': 2.958040225110943, '1967': 3.01368460510379, 'most': 1.4186204428983973, 'rolling': 4.8401661315562965, 'such': 1.763337513538397, 'song': 2.869182927623221, 'the': 0.0027426017494956603, 'queens': 4.023305403354957, 'a': 0.05619184472583146, 'singer': 2.7818235602743835, 'center': 2.378000039402171, 'third': 2.3506306680914584, '2012he': 6.27696518791286, '1976': 2.71622627778857, 'later': 1.4294496043477696, 'reginald': 6.781802769834228, 'order': 2.8044952529317895, '2002': 1.8753125887822302, 'charitable': 5.038460400044548, 'wind': 4.86181199833099, '2004': 3.3806887216718016, '2005': 1.6425861253275964, 'entered': 3.3434917536644764, '2008': 1.5093391374786154, 'having': 2.448323791423765, 'furnish': 18.38947183999428}, ... ]

In [135]:
eltonJohn[['tfidf']].stack('tfidf', new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">word</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">tfidf</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">furnish</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">18.38947184</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">elton</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">17.48232027</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">billboard</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">17.3036809575</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">john</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">13.9393127924</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">songwriters</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">11.250406447</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">tonightcandle</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">10.9864953892</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">overallelton</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">10.9864953892</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">19702000</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">10.2933482087</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">fivedecade</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">10.2933482087</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">aids</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">10.262846934</td>
    </tr>
</table>
[255 rows x 2 columns]<br/>Note: Only the head of the SFrame is printed.<br/>You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.
</div>

In [136]:
eltonJohn[['word_count']].stack('word_count', new_column_name=['word', 'count']).sort('count', ascending=False)

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">word</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">count</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">the</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">27</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">in</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">18</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">and</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">15</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">of</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">13</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">a</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">10</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">has</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">9</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">john</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">7</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">he</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">7</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">on</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">6</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">award</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">5</td>
    </tr>
</table>
[255 rows x 2 columns]<br/>Note: Only the head of the SFrame is printed.<br/>You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.
</div>

In [137]:
victoria = people[people['name'] == 'Victoria Beckham']

In [142]:
graphlab.distances.cosine(eltonJohn['tfidf'][0], victoria['tfidf'][0])

0.9567006376655429

In [139]:
paul = people[people['name'] == 'Paul McCartney']

In [140]:
knn_model = graphlab.nearest_neighbors.create(people, features=['tfidf'], label='name')

In [128]:
knn_model.query(eltonJohn)

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">query_label</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">reference_label</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">distance</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">rank</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Elton John</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Phil Collins</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.76399026764</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Rod Stewart</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.773333333333</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Annie Lennox</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.776623376623</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">4</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Barry Gibb</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.780952380952</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">5</td>
    </tr>
</table>
[5 rows x 4 columns]<br/>
</div>

In [130]:
word_count_model = graphlab.nearest_neighbors.create(people, features=['word_count'], label='name')

In [132]:
word_count_model.query(eltonJohn)

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">query_label</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">reference_label</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">distance</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">rank</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Elton John</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Phil Collins</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.76399026764</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Rod Stewart</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.773333333333</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Annie Lennox</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.776623376623</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">4</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Barry Gibb</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.780952380952</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">5</td>
    </tr>
</table>
[5 rows x 4 columns]<br/>
</div>

In [53]:
knn_model.query(victoria)

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">query_label</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">reference_label</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">distance</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">rank</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Victoria Beckham</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Cheryl Cole</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.800586510264</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Heidi Klum</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.810344827586</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Simon Fuller</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.822742474916</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">4</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Adele</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.824915824916</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">5</td>
    </tr>
</table>
[5 rows x 4 columns]<br/>
</div>

In [54]:
word_count_model.query(victoria)

<div style="max-height:1000px;max-width:1500px;overflow:auto;"><table frame="box" rules="cols">
    <tr>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">query_label</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">reference_label</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">distance</th>
        <th style="padding-left: 1em; padding-right: 1em; text-align: center">rank</th>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Victoria Beckham</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Cheryl Cole</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.800586510264</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Heidi Klum</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.810344827586</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Simon Fuller</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.822742474916</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">4</td>
    </tr>
    <tr>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Adele</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0.824915824916</td>
        <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">5</td>
    </tr>
</table>
[5 rows x 4 columns]<br/>
</div>

In [143]:
graphlab.distances.cosine(eltonJohn['tfidf'][0], people[people['name'] == 'Roger Daltrey']['tfidf'][0])

0.837118832236334

In [145]:
graphlab.distances.cosine(eltonJohn['tfidf'][0], people[people['name'] == 'Rod Stewart']['tfidf'][0])

0.7172196678927374

In [146]:
graphlab.distances.cosine(eltonJohn['tfidf'][0], people[people['name'] == 'Tommy Haas']['tfidf'][0])

0.9326339663286348

In [148]:
graphlab.distances.cosine(eltonJohn['word_count'][0], people[people['name'] == 'Billy Joel']['word_count'][0])

0.2222176478184027

In [149]:
graphlab.distances.cosine(eltonJohn['word_count'][0], people[people['name'] == 'Cliff Richard']['word_count'][0])

0.16142415258967036

In [150]:
graphlab.distances.cosine(eltonJohn['word_count'][0], people[people['name'] == 'Roger Daltrey']['word_count'][0])

0.17755418466559603

In [151]:
graphlab.distances.cosine(eltonJohn['word_count'][0], people[people['name'] == 'George Bush']['word_count'][0])

IndexError: SArray index out of range

In [152]:
graphlab.distances.cosine(victoria['word_count'][0], people[people['name'] == 'Stephen Dow Beckham']['word_count'][0])

0.31219127606005204

In [153]:
graphlab.distances.cosine(victoria['word_count'][0], people[people['name'] == 'Louis Molloy']['word_count'][0])

0.31050751295927514

In [154]:
graphlab.distances.cosine(victoria['word_count'][0], people[people['name'] == 'Adrienne Corri']['word_count'][0])

0.21450978278754795

In [155]:
graphlab.distances.cosine(victoria['word_count'][0], people[people['name'] == 'Mary Fitzgerald (artist)']['word_count'][0])

0.20730703611504997

In [156]:
graphlab.distances.cosine(victoria['tfidf'][0], people[people['name'] == 'Mel B']['tfidf'][0])

0.8095855234085036

In [157]:
graphlab.distances.cosine(victoria['tfidf'][0], people[people['name'] == 'Caroline Rush']['tfidf'][0])

0.81982642291868

In [158]:
graphlab.distances.cosine(victoria['tfidf'][0], people[people['name'] == 'David Beckham']['tfidf'][0])

0.5481696102632148

In [159]:
graphlab.distances.cosine(victoria['tfidf'][0], people[people['name'] == 'Carrie Reichardt']['tfidf'][0])

0.9753950423443598